* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  background: linear-gradient(180deg, #ffffff 35%, #f5f2f7 61%);
}
.column-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  padding: 2rem;
  column-gap: 5rem;
  grid-auto-rows: minmax(100px, auto);
}
.header-container {
  text-align: center;
  width: 100%;
  padding-bottom: 1rem;
}
.header-container #header {
  position: relative;
  font-size: 55px;
  font-family: "Abril Fatface", sans-serif;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  padding: 1rem;
}
.column:hover {
  background: linear-gradient(0deg, #ffffff 35%, #f5f2f7 61%);
}
.column h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.column p {
  margin-top: 1rem;
  font-size: 16px;
  padding: 1rem;
  text-align: center;
}
.h2 {
  font-size: 16px;
  padding: 1rem;
}
.column-image {
  max-width: 100%;
  height: auto;
  display: block;
}
